.main-content {
  display: flex;
  gap: 1.5rem;
  padding: 2rem;
}

.filter-category {
  padding: 1rem;
  background-color: #f8f8f8;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.filter-type {
  padding: 1rem;
  border: 1px solid #f8f8f8;
}

.filters h2 {
  font-size: 18px;
  padding: 10px;
  margin-bottom: 1rem;
  text-align: left;
  background-color: #f8f8f8;
  max-width: 100%;
  height: 40px;
  color: #6a6a6a;
}

.filter-category h3 {
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: bold;
}

.filter-category label {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
}

.filter-category span {
  font-size: 14px;
  margin-left: 8px;
  color: #6a6a6a;
}

.filters label input {
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

input[type='checkbox'] {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  accent-color: #ff9bd2;
  cursor: pointer;
}

.collections {
  flex: 1;
}

.collections h2 {
  font-size: 20px;
  margin-bottom: 1rem;
}

.options {
  display: flex;
  justify-content: space-between;
}

.sort-options {
  display: flex;
  font-size: 14px;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.sort-select {
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 2.2rem;
  width: 11rem;
  outline: none;
}

/* productos  */
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* siempre 4 columnas */
  gap: 2rem;
  /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 4rem; */
}
.product-card {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.product-card:hover {
  transform: scale(1.09);
  cursor: pointer;
  transition: transform 0.4s ease;
}

.product-card img {
  margin-bottom: 1rem;
  height: 300px;
}

.product-card h3 {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
  text-align: center;
  font-size: 1.3rem;
}

.product-card p {
  font-size: 16px;
  font-weight: 600;
  color: #ff9bd2;
  text-align: center;
  font-size: 1.5rem;
}

