.bg-black {
    background-color: #000 !important;
}

/* Texto blanco dentro del navbar */
.navbar .nav-link {
    color: #000 !important;
}

.navbar .navbar-brand,
.navbar .btn,
.navbar .menu {
    color: #fff !important;
}
/* Asegurar que los links cuando estén activos o hover sigan blancos */
/* .navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link.active {
    color: #000 !important;
} */

/* Si usas .btn con background transparente, evita cambio de color al hacer hover */
.navbar .btn.border-0:hover {
    color: white !important;
    background: transparent !important; 
}

/* Opcional: hacer que el texto en el botón de ubicación no sea muy grande */
.navbar .btn .text-start { 
    color: #fff !important; 
}

/* Ajuste del icono toggler si no usas navbar-dark */
.navbar[data-theme="dark"] .navbar-toggler-icon {
    filter: invert(1) brightness(2) !important; 
}

/* Forzar icono toggler en blanco */
.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.btn,
.navbar-toggler {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
} 

.btn-inicio{
    border: none !important;
}

.btn-inicio:focus {
    border: none !important;
}

.btn-cart{
    border: none !important;
}

.dropdown-toggle::after {
    display: none !important;
}














/* Offcanvas debajo del navbar */
/* .custom-offcanvas {
    height: 90.5vh !important;
} */

/* Quita el oscurecimiento del fondo */
/* .offcanvas-backdrop.show {
    opacity: 0 !important;
} */




