.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    filter: invert(1);
    background-color: #d9d9d9; 
    border-radius: 6px;
    transition: background-color 0.2s ease, transform 0.1s ease;
    padding: 10px; 
}

/* Al pasar el mouse */
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #bfbfbf; 
    transform: scale(1.05); 
}

/* Al presionar (click activo) */
.carousel-control-prev-icon:active,
.carousel-control-next-icon:active {
    background-color: #a6a6a6; 
    transform: scale(0.95); 
}